[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = louisephillips-eng
	email = 145995777+louisephillips-eng@users.noreply.github.com
